@import "../../../src/assets/style/mixin.scss";

.createPopUp_container_img {
    @include CreatePopUpStyle();
    .centerPopUp {
        width: 100%;
        height: fit-content;
        overflow: auto !important;
        .popUptopSide {
            flex-direction: column;
            gap: 10px;
            .photo_homeSlider {
                width: 100% !important;
                @media screen and (max-width: 600px) {
                    align-items: center !important;
                }
                label {
                    border-radius: 15px !important;
                }
            }
        }
    }

    .multipleCenterPopUp{
        max-width: 80%;
        width: fit-content;
        .photo_homeSlider{
            height: fit-content !important;
            .images_main {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .file_Parent {
                    width: 100% !important;
                    height: 170px;
                    .custom-file-upload {
                        display: inline-block;
                        padding: 10px 20px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        border: 1px darkblue dashed;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        border-radius: 16px;
                        .file-input {
                          display: none;
                        }
                    }
                  
                    .custom-file-upload:hover {
                        background-color: #c3d6fb75;
                    }
                }

                .img_container {
                    width: 200px;
                    height: 170px;
                    .image{
                        height: 100%;
                    }
                }
            }



        }

        .Button_group {
            gap: 10px;
            width: 100% !important; 
        }

    }
}

