.admin_rooms_page {
  padding: 20px;

  .title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }

  .rooms_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cardHeaderMode {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
    }
    .room_link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 10px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      .cardHeaderMode {
        display: flex;
        gap: 3px;
        button {
          padding: 0 !important;
          min-width: fit-content !important;
        }
      }
      &:hover {
        background-color: #e0e0e0;
        transform: scale(1.05);
      }

      &.selected-room {
        background-color: #007bff;
        color: white;
      }
    }
  }

  .add_movies_and_rooms {
    width: 100%;
    display: flex;
    justify-content: center;
    .button {
      align-self: flex-end;
      background: linear-gradient(#e66465, #9198e5);
      border: none;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
      height: 40px;
      outline: none;
      padding: 10px 25px;
      text-decoration: none;
      margin: 0 auto;
    }
  }

  .movies_list {
    gap: 20px !important;

    > h2 { width: 100% }
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    .movie_item {
      cursor: default;
    }
  }
  
}
